@using Reservas.Models.ViewModel
@model EditarLabViewModel


<h1>Modificar Laboratorio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModificarLab">
            @Html.HiddenFor(d=>d.IdLab)
            <div asp-validation-summary="ModelOnly"class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreLab" class="control-label"></label>
                <input asp-for="NombreLab" class="form-control"/>
                <span asp-validation-for="NombreLab" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DescripcionLab" class="control-label"></label>
                <input asp-for="DescripcionLab" class="form-control"/>
                <span asp-validation-for="DescripcionLab" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CapacidadLab" class="control-label"></label>
                <input asp-for="CapacidadLab" class="form-control"type="number"/>
                <span asp-validation-for="CapacidadLab" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:10px">
                    <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}