@model List<TbModulo>
<div class="card">
    <div class="card-header">
    <h4>Tabla de Modulos</h4>
    </div>
    <div class="card-body">
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>Modulo</th>
                <th>Hora de inicio</th>
                <th>Hora de termino</th>
                <th><a asp-action="AgregarMod" class="btn btn-success btn-sm" asp-route-IdModulo="0">Agregar</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tbModulo in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>tbModulo.IdModulo)</td>
                <td>@Html.DisplayFor(m=>tbModulo.InicioMod)</td>
                <td>@Html.DisplayFor(m=>tbModulo.FinMod)</td>
                <td>
                    <a asp-action="ModificarMod" class="btn btn-primary btn-sm"asp-route-IdModulo="@tbModulo.IdModulo">Editar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    </div>
</div>