@model List<TbReserva>
@{
    string[,] semana = new String[13,7];
    DateTime fecha = DateTime.Now, primerdia=fecha.AddDays(-(byte)fecha.DayOfWeek + 1)
    , ultimodia=fecha.AddDays(6 - (byte)fecha.DayOfWeek);
    string pepe;
    for (int i = 0; i < 13; i++)
    {
        for (int j = 0; j < 7; j++)
        {
            semana[i, j] = "";
        }
    }
}

<div class="card">
    <div class="card-header">
    <h4>Reservas</h4>
    </div>
    <div class="card-body" style="padding:25px">
<table class="table table-bordered border-black">
  <thead>
    <tr>
      <th scope="col">Modulo</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sabado</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
        {
            semana[item.IdModulo, (byte)item.FechaReserva.DayOfWeek] = item.Curso + item.Docente;

        }
        @for (int i = 0; i < 13; i++)
            { 
             <tr>
                @for(int j=0;j<7; j++)
                        {
                            <th scope="row">modulo]</th>
                            pepe = semana[i, j];
                            <td>@Html.DisplayFor(m=>pepe)</td>
                }   
              </tr>
            }
        }
  </tbody>
</table>
   </div>
</div>