@{
    ViewData["Title"] = "Home Page";
    var IdU= ViewData["IdU"];
}

<div class="text-center">
    <h1 class="display-4">Sistema de Reserva de laboratorios</h1>

    <a><img src="~/lib/LogoFacultad.png" style="padding-top:50px" /></a>
</div>