@model Reservas.Models.TbUsr

@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <div class="card col-md-4 offset-sm-4"style="margin-top: 50px">
        <div class="card-header ">
            <h1 style="text-align:center">Inicio de sesion</h1>
        </div>
        <div class="card-body">
            <div class="row" style="">
                <div class="col-md-8 offset-sm-2">
                    @Html.HiddenFor(d=>d.RolUsr)
                    @Html.HiddenFor(d=>d.IdUsr)
                    <form asp-action="Index" method="post">
                        <div class="form-group">
                            <label asp-for="UsernameUsr" class="control-label">Username</label>
                            <input asp-for="UsernameUsr" class="form-control" />
                            <span asp-validation-for="UsernameUsr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordUsr" class="control-label">Password</label>
                            <input asp-for="PasswordUsr" class="form-control" type="password"/>
                            <span asp-validation-for="PasswordUsr" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="padding-top:10px">
                            <input type="submit" value="Iniciar Sesion" asp-route-RolUsr="" asp-route-IdUsr="" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
